.futureNightShiftTableRow{
    /*-fx-control-inner-background:DarkRed;*/
    -fx-control-inner-background:LightBlue;
}

.futureDayShiftTableRow {
    /*-fx-control-inner-background:FireBrick;*/
}

.nightShiftTableRow {
    -fx-control-inner-background:LightBlue;
}