.table-row-cell:selected {
    -fx-background-color:DodgerBlue;
}

.weekendTableCell {
    -fx-background-color:LightGray;
}

.table-row-cell:selected .weekendTableCell {
    -fx-background-color:DodgerBlue;
}

.selectedCell,
.table-row-cell:selected .selectedCell {
    -fx-background-color: red;
    -fx-text-fill: black;
}

.possibleCell,
.table-row-cell:selected .possibleCell {
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
}

.nightShiftTableCell {
    -fx-background-color:LightBlue;
    -fx-text-fill:black;
}

.table-row-cell:selected .nightShiftTableCell {
    -fx-background-color:LightBlue;
    -fx-text-fill:black;
}

.dayShiftTableCell {
    -fx-background-color:AliceBlue;
    -fx-text-fill:black;
}

.table-row-cell:selected .dayShiftTableCell {
    -fx-background-color:AliceBlue;
    -fx-text-fill:black;
}